body{margin-bottom: 200px;}
.upload-btn:hover{background-color: white;color: blue;}
#post_bar{box-shadow: 0 15px 25px rgba(0,0,0,.6);}
#conta{
height:50vh;
background: #eee;
display: flex;
flex-direction: column;
justify-content: space-between;
box-shadow: 0 0 5px black;
border-radius: 1rem;
overflow: hidden;
position: relative;
}

#conta h2{
background:white;
color:blue;
padding:1rem;
}

.conta .input{
display:flex;
justify-content: space-between;
padding:.5rem;
background:white;
min-height: 60px;
}

.conta .input input{
width:100%;
margin-right:.5rem;
padding:.5rem;
border:none;
outline: none;
border-bottom:solid 1px #ddd;
color:#444;
font-size:1rem;
}


ul.messages{
list-style: none;
flex-grow: 1;
background: #ece5dd;
display:flex;
flex-direction: column;
justify-content: flex-start;
overflow: hidden;
overflow-y: scroll;
}

ul.messages li.message{
max-width:80%;
background:#3B71BA;
margin:.5rem 1rem;
padding:1.5rem .5rem 1rem .5rem;
border-radius: 1rem;
box-shadow: 0 2px 3px rgba(0,0,0,.3);
color:white;
position: relative;
}

ul.messages li.message.mine{
align-self: flex-end;
padding-top:1rem;
background:#3B71BA;
color: white;
}

ul.messages li.message span.sender{
position: absolute;
top:.5rem;
left:.5rem;
color:rgb(12, 239, 12);
font-weight: bold;
font-size:.8rem;
}

ul.messages li.message span.date{
position: absolute;
bottom:.2rem;
right:.5rem;
font-size:.7rem;
color:#999;
}
option:hover .span{
background-color: green;
width: 10px;
}