.message-outer {
    height: 60vh;
    overflow-y: auto; /* Yalnızca dikey kaydırma */
    padding-right: 10px; /* Sağ tarafta kaydırma çubuğu için boşluk */
}

.message-body {
    padding: 0;
    margin: 0;
}
